*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.intro-signup {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(0, 100%, 74%);
  background-image: url("../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 64rem) {
  .intro-signup {
    background-image: url("../images/bg-intro-desktop.png");
  }
}
.intro-signup__main {
  width: 100%;
  padding: 5.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 64rem) {
  .intro-signup__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "intro sigup";
    gap: 0;
  }
}
.intro-signup__info {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 64rem) {
  .intro-signup__info {
    grid-area: intro;
    justify-self: end;
    gap: 1.5rem;
  }
}
.intro-signup__title {
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
}
@media (min-width: 64rem) {
  .intro-signup__title {
    font-size: 3rem;
    text-align: start;
    line-height: 3rem;
  }
}
.intro-signup__description {
  padding: 0 0.5rem;
  color: #fff;
  text-align: center;
  font-weight: 500;
}
@media (min-width: 64rem) {
  .intro-signup__description {
    padding: 0;
    text-align: start;
  }
}

.signup {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 64rem) {
  .signup {
    grid-area: sigup;
  }
}
.signup__offer {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
}
.signup__offer-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  color: hsl(246, 25%, 77%);
}
@media (min-width: 64rem) {
  .signup__offer-text {
    width: 100%;
  }
}
.signup__offer-text--highlight {
  color: #fff;
  font-weight: 600;
}
.signup__form {
  width: 100%;
  padding: 1.4rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 64rem) {
  .signup__form {
    padding: 2.2rem;
  }
}
.signup__fields {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signup__group:not(:first-child) {
  margin-top: 1rem;
}
.signup__input-group {
  width: 100%;
  position: relative;
}
.signup__input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  outline: none;
}
@media (min-width: 64rem) {
  .signup__input {
    padding: 1.2rem 1.8rem;
  }
}
.signup__input:focus {
  border: 2px solid hsl(248, 32%, 49%);
}
.signup__input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.signup__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.signup__input-error {
  border: 3px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}
.signup__icon-error {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: none;
}
.signup__message-error {
  margin-top: 0.5rem;
  color: hsl(0, 100%, 74%);
  text-align: end;
  font-size: 14px;
}
.signup__button {
  width: 100%;
  padding: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 4px 0 hsl(154, 59%, 41%);
  cursor: pointer;
}
.signup__button:hover {
  opacity: 0.6;
}
.signup__terms {
  padding: 0 1rem;
  font-size: 12px;
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-weight: 600;
  line-height: 1.5rem;
}
.signup__terms--highlight {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

.active {
  display: block;
}/*# sourceMappingURL=style.css.map */